.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.results-container {
  border: 1px solid white;
  border-radius: 2rem;
  padding: 2rem;
}

.results-header {
  text-align: center;
}
