<div class="container">
  <h1 class="heading">Trivia Quiz</h1>
  <ng-container [ngSwitch]='view'>
    <ng-container *ngSwitchCase="'categories'">
      <h2>Choose a category</h2>
      <div class="categoryContainer">
        <div *ngFor="let category of categories">
          <app-card [name]="category.name" [selectedCardName]="selectedCategory" (selectedCardEE)="setSelectedCategory($event)"></app-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'question-quantity'">
      <h2>Number of Questions</h2>
      <div class="number-input">
        <button type="button" (click)="stepDown()"></button>
        <input class="quantity" type="number" [(ngModel)]="questionQuantity" name="quantity" min="1" max="50">
        <button class="plus" type="button" (click)="stepUp()"></button>
      </div>

      <button type="button" class="custom-button" (click)="setQuestionQuantity()">Next</button>
    </ng-container>
    <ng-container *ngSwitchCase="'difficulty'">
      <h2>Choose a difficulty</h2>
      <div class="categoryContainer">
        <div *ngFor="let difficulty of difficultyList">
          <app-card [name]="difficulty" [selectedCardName]="selectedDifficulty" (selectedCardEE)="setSelectedDifficulty($event)"></app-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'type'">
      <h2>Choose a question type</h2>
      <div class="categoryContainer">
        <div *ngFor="let type of typeList">
          <app-card [name]="type" [selectedCardName]="selectedType" (selectedCardEE)="setSelectedType($event)"></app-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'quiz-params'">
      <h3>Category -- {{ selectedCategory }}</h3>
      <h3>Difficulty -- {{ selectedDifficulty }}</h3>
      <h3>Question Type -- {{ selectedType }}</h3>
      <button type="button" class="custom-button" (click)="onBeginQuiz()">Begin Quiz</button>
      <button type="button" class="custom-button" (click)="onReturnHome($event)">Home</button>
    </ng-container>
    <ng-container *ngSwitchCase="'no-questions'">
      <h3 class="error">There were not enough questions with the following criteria:</h3>
      <h4>Category -- {{ selectedCategory }}</h4>
      <h4>Difficulty -- {{ selectedDifficulty }}</h4>
      <h4>Question Type -- {{ selectedType }}</h4>
      <br />
      <button type="button" class="custom-button" (click)="onReturnHome($event)">Home</button>
    </ng-container>
    <ng-container *ngSwitchCase="'questions'">
      <app-question class="app-question-container" *ngIf='questions.length > 0' [questions]="questions" (viewResults)="onViewResults($event)"></app-question>
    </ng-container>
    <ng-container *ngSwitchCase="'results'">
      <app-results [quizResults]="quizResults" (returnHome)="onReturnHome($event)"></app-results>
    </ng-container>
  </ng-container>
</div>
