.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.beginQuizBtnContainer {
  margin-top: 30px;
}

.button {
  height: 100px;
  width: 300px;
  font-size: 2.2em;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  border-style: solid;
}

.button:hover {
  background-color: white;
  color: teal;
}
