<div class="container">
  <h1 class="heading">Trivia Quiz</h1>
  <ng-container *ngIf="!beginQuiz">
    <div class="categoryContainer">
      <div *ngFor="let category of categories">
        <app-category [name]="category.name" [selectedCategoryName]="selectedCategory" (selectedCategoryEE)="setSelectedCategory($event)"></app-category>
      </div>
    </div>
    <div class="beginQuizBtnContainer">
      <button type="button" class="beginQuizBtn" [ngClass]="{'disabled': selectedCategory===''}" [disabled]="selectedCategory === ''" (click)="onBeginQuiz()">BEGIN QUIZ</button>
    </div>
  </ng-container>
  <ng-container *ngIf="beginQuiz && questions.length > 0">
    <app-question [questions]="questions"></app-question>
  </ng-container>
</div>
