<div class="container">
  <h1 class="heading">Trivia Quiz</h1>
  <ng-container [ngSwitch]="view">
    <ng-container *ngSwitchCase="'categories'">
      <h2>Choose a Category</h2>
      <div class="card-container">
        <div *ngFor="let category of categories">
          <app-card
            [name]="category.name"
            [selectedCardName]="selectedCategory"
            (selectedCardEE)="setSelectedCategory($event)"
          ></app-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'question-quantity'">
      <h2>Number of Questions</h2>
      <div class="number-input">
        <button
          type="button"
          (mousedown)="stepDownMouseDown()"
          (mouseleave)="clearStepHandlers()"
          (mouseup)="clearStepHandlers()"
        ></button>
        <input
          [(ngModel)]="questionQuantity"
          class="quantity"
          name="quantity"
          min="1"
          max="50"
          type="number"
        />
        <button
          class="plus"
          type="button"
          (mousedown)="stepUpMouseDown()"
          (mouseleave)="clearStepHandlers()"
          (mouseup)="clearStepHandlers()"
        ></button>
      </div>
      <div class="button-container">
        <button class="custom-button" type="button" (click)="onReturnHome()">
          Previous
        </button>
        <button
          class="custom-button"
          type="button"
          (click)="setQuestionQuantity()"
        >
          Next
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'difficulty'">
      <h2>Choose a difficulty</h2>
      <div class="card-container">
        <div *ngFor="let difficulty of difficultyList">
          <app-card
            [name]="difficulty"
            [selectedCardName]="selectedDifficulty"
            (selectedCardEE)="setSelectedDifficulty($event)"
          ></app-card>
        </div>
      </div>
      <div class="button-container">
        <button class="custom-button" type="button" (click)="goToQuestionQty()">
          Previous
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'type'">
      <h2>Choose a question type</h2>
      <div class="card-container">
        <div *ngFor="let type of typeList">
          <app-card
            [name]="type"
            [selectedCardName]="selectedType"
            (selectedCardEE)="setSelectedType($event)"
          ></app-card>
        </div>
      </div>
      <div class="button-container">
        <button class="custom-button" type="button" (click)="goToDifficulty()">
          Previous
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'quiz-params'">
      <h4>Category - {{ selectedCategory }}</h4>
      <h4>Difficulty - {{ selectedDifficulty }}</h4>
      <h4>Question Type - {{ selectedType }}</h4>
      <button class="custom-button" type="button" (click)="onBeginQuiz()">
        Begin Quiz
      </button>
      <div class="button-container">
        <button class="custom-button" type="button" (click)="goToType()">
          Previous
        </button>
        <button class="custom-button" type="button" (click)="onReturnHome()">
          Home
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'no-questions'">
      <h3 class="error">
        There were not enough questions with the following criteria:
      </h3>
      <h4>Category - {{ selectedCategory }}</h4>
      <h4>Difficulty - {{ selectedDifficulty }}</h4>
      <h4>Question Type - {{ selectedType }}</h4>
      <br />
      <button class="custom-button" type="button" (click)="onReturnHome()">
        Home
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="'questions'">
      <app-question
        *ngIf="questions.length > 0"
        [category]="selectedCategory"
        [questions]="questions"
        class="app-question-container"
        (viewResults)="onViewResults($event)"
      ></app-question>
    </ng-container>
    <ng-container *ngSwitchCase="'results'">
      <app-results
        [quizResults]="quizResults"
        (returnHome)="onReturnHome()"
      ></app-results>
    </ng-container>
  </ng-container>
</div>
