.card {
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  border: 1px solid white;
  min-width: 200px;
  max-width: 200px;
  cursor: pointer;
  text-align: center;
  font-size: 1.7em;
  height: 80%;
  transition: all .25s ease-in-out;
}

.card:hover {
  background-color: white;
  color: teal;
  transform: scale(1.1);
}
