<div>
  <h3 class="timer">Time Elapsed: {{ timeElapsedDisplay }}</h3>
  <h3 class="difficulty">Difficulty: {{ difficulty }}</h3>
</div>
<div class="question-container">
  <div class="question" [innerHTML]="currentQuestion"></div>
  <div class="answer-container">
    <div
      class="answer"
      *ngFor="let answer of answers"
      [ngClass]="{
        correctAnswer: correctAnswer === answer,
        incorrectAnswer: incorrectAnswer === answer,
        disabled: disableAnswers === true
      }"
      (click)="onAnswerClick($event)"
    >
      {{ answer }}
    </div>
  </div>

  <button
    [hidden]="!answerSubmitted"
    class="custom-button"
    type="button"
    (click)="onNextBtnClick()"
  >
    Next
  </button>
  <button
    [hidden]="!viewResultsEnabled"
    class="custom-button"
    type="button"
    (click)="onViewResults()"
  >
    View Quiz Results
  </button>
</div>
