.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px white;
  border-radius: 1em;
}

.question {
  font-size: 3em;
  padding: 1em;
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer {
  font-size: 2em;
  padding: .5em;
  margin: .5em;
  border: solid 1px white;
  border-radius: 1em;
  width: 95%;
}

.correctAnswer {
  background-color: green;
  color: white;
}

.incorrectAnswer {
  background-color: red;
  color: white;
}
