.answer {
  border: solid 1px white;
  border-radius: 1rem;
  font-size: 1.7rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 95%;
}

.answer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.correctAnswer {
  background-color: green;
  color: white;
}

.disabled {
  pointer-events: none;
}

.incorrectAnswer {
  background-color: red;
  color: white;
}

.question {
  font-size: 2.5rem;
  padding: 1rem;
}

.question-container {
  border: solid 1px white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-pre div {
  font-size: 2.5rem;
}

.question-pre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 1rem;
}
