.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px white;
  border-radius: 1em;
}

.question {
  font-size: 3em;
  padding: 1em;
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer {
  font-size: 2em;
  padding: .5em;
  margin: .5em;
  border: solid 1px white;
  border-radius: 1em;
  width: 95%;
}

.button {
  height: 100px;
  width: 300px;
  font-size: 2.2em;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  border-style: solid;
  margin: 1em auto 1em auto;
}

.button:hover {
  background-color: white;
  color: teal;
}

.correctAnswer {
  background-color: green;
  color: white;
}

.incorrectAnswer {
  background-color: red;
  color: white;
}
